@using PictureGallery.Models.UserProfileDetails
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UserProfileDetailsVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/UserProfileDetails/index.css" asp-append-version="true" />
</head>

<div class="row">
    <div class="col-sm-3" style="padding:5px">
        <div class="row" style="margin-bottom: 10px;">
            <hr />
            <div class="col-sm-4">
                <img class="profile-picture" src="@Model.UserProfileVM.ProfilePictureVM.Url" /> <br />
            </div>
            <div class="col-sm-8">
                <p class="user-name">@Model.UserProfileVM.UserName</p>
            </div>
        </div>
        <hr />
        @if (Model.IsFollowing)
        {
            <a class="button-href" asp-action="UnfollowUser" asp-route-id="@Model.UserProfileVM.Id" title="Un-follow This User">
                <div class="button-div" style="background-color: red;">
                    <p class="button-par">Unfollow User</p>
                </div>
            </a><br />
        }
        else
        {
            <a class="button-href" asp-action="FollowUser" asp-route-id="@Model.UserProfileVM.Id" title="Follow This User">
                <div class="button-div">
                    <p class="button-par">Follow User</p>
                </div>
            </a><br />

        }
    </div>
    <div class="col-sm-5 cont">
        <h3>Albums</h3>
        @if (!Model.Albums.Any())
        {
            <h2>No albums to present!</h2>
            <p>User has no albums</p>
        }
        else
        {
            foreach (var item in Model.Albums)
            {
                @Html.Partial("~/Views/UserProfileDetails/AlbumPartial.cshtml", item)
            }
        }
    </div>
</div>

@section Scripts
    {
    <script src="~/js/jquery.nicescroll.js"></script>
    <script src="~/js/ManageProfile/index.js"></script>
}
