@using PictureGallery.Models.Main;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MainVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Main/index.css" asp-append-version="true" />
</head>

<div class="container">
    <div class="row">
        <div class="col-sm-3" style="padding:5px">
            <p class="My-profile">My profile</p>
            <hr  />
            <div class="row" style="margin-bottom:10px;">
                <div class="col-sm-4">
                    <img class="My-profile-picture" src="@Model.UserProfile.ProfilePictureVM.Url" /> <br />
                </div>
                <div class="col-sm-8">
                    <p class="My-user-name">@Model.UserProfile.UserName</p>
                </div>
            </div>
            <hr  />
            <div class="row">
                <div class="col-sm-12">
                    <a asp-controller="ManageProfile" asp-action="Index">
                        <div class="button-div">
                            <p class="button-par"><span class="glyphicon glyphicon-plus-sign" style="margin-right:5px"></span>Manage Your Pictures!</p>
                        </div>
                    </a><br/>
                    <a asp-action="Index">
                        <div class="button-div">
                            <p class="button-par">Newest!</p>
                        </div>
                    </a><br />
                    <a asp-action="Top">
                        <div class="button-div">
                            <p class="button-par">Top!</p>
                        </div>
                    </a><br />
                    <a asp-action="Favorites">
                        <div class="button-div">
                            <p class="button-par">Favorites!</p>
                        </div>
                    </a><br />
                    <a asp-action="FollowingPictures">
                        <div class="button-div">
                            <p class="button-par">Pictures You Follow!</p>
                        </div>
                    </a><br />
                    <a asp-action="HotPictures">
                        <div class="button-div">
                            <p class="button-par">Hot!</p>
                        </div>
                    </a><br />
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <h3 class="Picture-group">@Model.PictureGroup</h3>
            <div class="cont">
                @foreach (var item in Model.PicturesToPresent)
                {
                    @Html.Partial("~/Views/Shared/PicturePartial.cshtml", item)
                }
            </div>
        </div>

        <div class="col-sm-1" style="margin:0px; padding:0px;">
            <p class="User-group">All Users</p>
            <div class="cont">
                @foreach (var item in Model.UsersVM)
                {
                    @Html.Partial("PartialPresentUser", item)
                }
            </div>
        </div>
        <div class="col-sm-1" style="margin:0px; padding:0px;">
            <p class="User-group">Following</p>
            <div class="cont">
                @foreach (var item in Model.FollowingUsersVM)
                {
                    @Html.Partial("PartialPresentUser", item)
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
        <script src="~/js/jquery.nicescroll.js"></script>
        <script src="~/js/Main/index.js"></script>
    }