@using PictureGallery.Models.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PictureVM
@{
    ViewData["Title"] = "PicturePartial";
}

<head>
    <link rel="stylesheet" href="~/css/Shared/picturePartial.css" asp-append-version="true" />
</head>

<div class="main-div">
    <a class="Rectangle" asp-controller="PictureDetails" asp-action="Index" asp-route-id="@Model.Id">
        <div class="row Image-div">
            <div class="col-sm-6">
                <img class="Image" src=" @Model.Url" />
            </div>
            <div class="col-sm-4" style="margin-left:0px; padding:0px;">
                <p style="margin-left:10px;">@Model.Description</p>
            </div>
            <div class="col-sm-2">
                <p>@Model.DateCreated</p>
            </div>
        </div>
        <div class="row like-section">
            <div class="col-sm-2 like-div">
                <p class="like-par"><span class="glyphicon glyphicon-arrow-up" style="margin-right:5px"></span>@Model.NumberOfLikes</p>
            </div>
            <div class="col-sm-2 dislike-div">
                <p class="dislike-par"><span class="glyphicon glyphicon-arrow-down" style="margin-right:5px"></span>@Model.NumberOfDislikes</p>
            </div>
        </div>
    </a>
</div>



