@using PictureGallery.Models.PictureDetails;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PictureDetailsVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/PictureDetails/index.css" asp-append-version="true" />
</head>

<div class="row image-row">
    <div class="row">
        <div class="col-sm-5">
            <img class="image" src="@Model.Url" />
        </div>
        <div class="col-sm-4 description-div">
            <p>@Model.Description</p>
        </div>
        <div class="col-sm-2 date-div">
            <label class="date-created-label">Date created</label>
            <p>@Model.DateCreated</p>
            <label>Album: </label>
            <a asp-controller="UserProfileDetails" asp-action="AlbumDetails" asp-route-id="@Model.Album.Id">@Model.Album.Description</a><br />
            <label>User: </label>
            <a asp-controller="UserProfileDetails" asp-action="Index" asp-route-id="@Model.User.Id">@Model.User.UserName</a>
        </div>
    </div>
    <div class="row" style="margin-left: 25px">
        <div class="col-sm-2" id="like-button-div" style="margin: 0px; padding: 0px;">
            @if (Model.CurrentUserLiked)
            {
                <a asp-action="LikePicture" asp-route-id="@Model.Id" title="Un-like Picture">
                    <div class="like-button-div liked">
                        <p class="button-par"><span class="glyphicon glyphicon-arrow-up" style="margin-right:5px"></span>@Model.NumberOfLikes</p>
                    </div>
                </a>
            }
            else
            {
                <a asp-action="LikePicture" asp-route-id="@Model.Id" title="Like Picture">
                    <div class="like-button-div">
                        <p class="button-par"><span class="glyphicon glyphicon-arrow-up" style="margin-right:5px"></span>@Model.NumberOfLikes</p>
                    </div>
                </a>
            }
        </div>
        <div class="col-sm-2" id="dislike-button-div" style="margin: 0px; padding: 0px;">
            @if (Model.CurrentUserDisliked)
            {
                <a asp-action="DislikePicture" asp-route-id="@Model.Id" title="Un-dislike Picture">
                    <div class="dislike-button-div disliked">
                        <p class="button-par"><span class="glyphicon glyphicon-arrow-down" style="margin-right:5px"></span>@Model.NumberOfDislikes</p>
                    </div>
                </a>
            }
            else
            {
                <a asp-action="DislikePicture" asp-route-id="@Model.Id" title="Dislike Picture">
                    <div class="dislike-button-div">
                        <p class="button-par"><span class="glyphicon glyphicon-arrow-down" style="margin-right:5px"></span>@Model.NumberOfDislikes</p>
                    </div>
                </a>
            }
        </div>
        <div class="col-sm-2" id="favorite-button-div" style="margin: 0px; padding: 0px;">
            @if (Model.IsFollowing)
            {
                <a asp-action="RemoveFromFavorites" asp-route-pictureId="@Model.Id" title="Remove This Picture From Favorites">
                    <div class="favorite-button-div favorited">
                        <p class="button-par"><span class="glyphicon glyphicon-star" style="margin-right:5px"></span>@Model.TimesFavorited</p>
                    </div>
                </a>
            }
            else
            {
                <a asp-action="AddToFavorites" asp-route-pictureId="@Model.Id" title="Add Picture To Favorites">
                    <div class="favorite-button-div">
                        <p class="button-par"><span class="glyphicon glyphicon-star" style="margin-right:5px"></span>@Model.TimesFavorited</p>
                    </div>
                </a>
            }
        </div>
    </div>
    <p>Hover over the buttons with mouse to see users who liked or disliked the picture<span class="glyphicon glyphicon-user"></span></p>
</div>
<div class="row users-div" id="users-liked-div" style="display:none">
    <hr style="margin-bottom: 10px;" />
    <button class="hide-button" id="hide-button-like">Hide</button>
    @if (Model.NumberOfLikes == 0)
    {
        <p>Nobody Liked This Picture!</p>
    }
    else
    {
        <p>Users Who Liked The Picture:</p>
        @foreach (var item in Model.UsersLikedVM)
        {
            <a asp-controller="UserProfileDetails" asp-action="Index" asp-route-id="@item.Id">| @item.UserName |</a>
        }
    }
    <hr />
</div>
<div class="row users-div" id="users-disliked-div" style="display:none">
    <hr style="margin-bottom: 10px;"/>
    <button class="hide-button" id="hide-button-dislike">Hide</button>
    @if (Model.NumberOfDislikes == 0)
    {
        <p>Nobody Disliked This Picture!</p>
    }
    else
    {
       <p>Users Who Disliked The Picture:</p>
       @foreach (var item in Model.UsersDislikedVM)
       {
            <a asp-controller="UserProfileDetails" asp-action="Index" asp-route-id="@item.Id">| @item.UserName |</a>
       }
    }
    <hr/>
</div>
<div class="row users-div" id="users-favorited-div" style="display:none">
    <hr style="margin-bottom: 10px;" />
    <button class="hide-button" id="hide-button-favorited">Hide</button>
    @if (Model.TimesFavorited == 0)
    {
        <p>Nobody Favorited This Picture!</p>
    }
    else
    {
        <p>Users Who Favorited The Picture:</p>
        @foreach (var item in Model.UsersFavoritedVM)
        {
            <a asp-controller="UserProfileDetails" asp-action="Index" asp-route-id="@item.Id">| @item.UserName |</a>
        }
    }
    <hr />
</div>
<div class="row">
    <div class="col-sm-3" style="margin: 0px; padding: 0px;">
        <a asp-action="AddNewComment" asp-route-pictureId="@Model.Id" title="Add New Comment">
            <div class="button-div">
                <p class="button-par"><span class="glyphicon glyphicon-comment"></span>Add Comment</p>
            </div>
        </a>
    </div>
    @if (Model.IsUsersPicture || Model.IsAdmin)
    {
        <div class="col-sm-3" style="margin: 0px; padding: 0px;">
            <a asp-action="ChangePictureDescription" asp-route-pictureId="@Model.Id" asp-route-description="@Model.Description" title="Change Picture Description">
                <div class="button-div">
                    <p class="button-par">Change Description</p>
                </div>
            </a>
        </div>
            <div class="col-sm-3" style="margin: 0px; padding: 0px;">
                <a asp-action="DeletePicture" asp-route-pictureId="@Model.Id" title="Delete This Picture">
                    <div class="button-div" style="background-color: red;">
                        <p class="button-par">Delete Picture</p>
                    </div>
                </a>
            </div>
    }
    @if (Model.IsAdmin)
    {
        if (Model.IsHot)
        {
            <div class="col-sm-3" style="margin: 0px; padding: 0px;">
                <a asp-action="HotPictureManage" asp-route-pictureId="@Model.Id" title="Un-mark This Picture As Hot">
                    <div class="button-div" style="background-color: red;">
                        <p class="button-par">Remove From Hot</p>
                    </div>
                </a>
            </div>
        }
        else
        {
            <div class="col-sm-3" style="margin: 0px; padding: 0px;">
                <a asp-action="HotPictureManage" asp-route-pictureId="@Model.Id" title="Mark This Picture As Hot">
                    <div class="button-div">
                        <p class="button-par">Add To Hot</p>
                    </div>
                </a>
            </div>
        }
    }
</div>
<div class="row">
    <div>
        <hr />
        <h2>Comments:</h2>
        @if (!Model.CommentsVM.Any())
        {
            <h4>No comments to present!</h4>
            <p>Be the first one to comment</p>
        }
        else
        {
            foreach (var item in Model.CommentsVM)
            {
                @Html.Partial("CommentPartial", item)
            }
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/PictureDetails/index.js"></script>
}