@using PictureGallery.Models.PictureDetails;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PictureDetailsVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/PictureDetails/index.css" asp-append-version="true" />
</head>

<div class="row image-row">
    <div class="row">
        <div class="col-sm-5">
            <img class="image" src="@Model.Url" />
        </div>
        <div class="col-sm-4 description-div">
            <p>@Model.Description</p>
        </div>
        <div class="col-sm-2 date-div">
            <label class="date-created-label">Date created</label>
            <p>@Model.DateCreated</p>
            <label>Album: </label>
            <a asp-controller="UserProfileDetails" asp-action="AlbumDetails" asp-route-id="@Model.Album.Id">@Model.Album.Description</a><br />
            <label>User: </label>
            <a asp-controller="UserProfileDetails" asp-action="Index" asp-route-id="@Model.User.Id">@Model.User.UserName</a>
        </div>
    </div>
    <div class="row" style="margin-left: 25px">
        <div class="col-sm-2" style="margin: 0px; padding: 0px;">
            <a asp-action="LikePicture" asp-route-id="@Model.Id">
                <div class="button-div" style="background-color: #2196F3;">
                    <p class="button-par"><span class="glyphicon glyphicon-arrow-up" style="margin-right:5px"></span>@Model.NumberOfLikes</p>
                </div>
            </a>
        </div>
        <div class="col-sm-2" style="margin: 0px; padding: 0px;">
            <a asp-action="DislikePicture" asp-route-id="@Model.Id">
                <div class="button-div" style="background-color: #F44336;">
                    <p class="button-par"><span class="glyphicon glyphicon-arrow-down" style="margin-right:5px"></span>@Model.NumberOfDislikes</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3" style="margin: 0px; padding: 0px;">
        <a asp-action="AddNewComment" asp-route-pictureId="@Model.Id">
            <div class="button-div">
                <p class="button-par"><span class="glyphicon glyphicon-comment"></span>Add Comment</p>
            </div>
        </a>
    </div>
    @if (Model.IsFollowing)
    {
        <div class="col-sm-3" style="margin: 0px; padding: 0px;">
            <a asp-action="RemoveFromFavorites" asp-route-pictureId="@Model.Id">
                <div class="button-div" style="background-color: red;">
                    <p class="button-par"><span class="glyphicon glyphicon-star-empty"></span>Remove From Favorites</p>
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="col-sm-3" style="margin: 0px; padding: 0px;">
            <a asp-action="AddToFavorites" asp-route-pictureId="@Model.Id">
                <div class="button-div">
                    <p class="button-par"><span class="glyphicon glyphicon-star"></span>Add To Favorites</p>
                </div>
            </a>
        </div>
    }
    @if (Model.IsUsersPicture)
    {
        <div class="col-sm-3" style="margin: 0px; padding: 0px;">
            <a asp-action="ChangePictureDescription" asp-route-pictureId="@Model.Id" asp-route-description="@Model.Description">
                <div class="button-div">
                    <p class="button-par">Change Description</p>
                </div>
            </a>
        </div>
            <div class="col-sm-3" style="margin: 0px; padding: 0px;">
                <a asp-action="DeletePicture" asp-route-pictureId="@Model.Id">
                    <div class="button-div" style="background-color: red;">
                        <p class="button-par">Delete Picture</p>
                    </div>
                </a>
            </div>
    }
    @if (Model.IsAdmin)
    {
        if (Model.IsHot)
        {
            <div class="col-sm-3" style="margin: 0px; padding: 0px;">
                <a asp-action="HotPictureManage" asp-route-pictureId="@Model.Id">
                    <div class="button-div" style="background-color: red;">
                        <p class="button-par">Remove From Hot</p>
                    </div>
                </a>
            </div>
        }
        else
        {
            <div class="col-sm-3" style="margin: 0px; padding: 0px;">
                <a asp-action="HotPictureManage" asp-route-pictureId="@Model.Id">
                    <div class="button-div">
                        <p class="button-par">Add To Hot</p>
                    </div>
                </a>
            </div>
        }
    }
</div>
<div class="row">
    <div>
        @if (Model.CommentsVM.Count > 0)
        {
            <hr />
            <h2>Comments:</h2>
        }
        @foreach (var item in Model.CommentsVM)
        {
            @Html.Partial("CommentPartial", item)
        }
    </div>
</div>