@using PictureGallery.Models.PictureDetails;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PictureDetailsVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="row">
    <div class="row">
        <div class="col-sm-5">
            <img src="data:image/png;base64, @Model.Data" width="400" height="400" style="margin:10px" />
        </div>
        <div class="col-sm-7">
            <p>@Model.Description</p>
        </div>
    </div>
    <div style="margin:15px">
        <p>@Model.DateCreated</p>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <a class="btn btn-primary" asp-action="LikePicture" asp-route-id="@Model.Id" style="margin:10px">@Model.NumberOfLikes</a>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-primary" asp-action="DislikePicture" asp-route-id="@Model.Id" style="margin:10px">@Model.NumberOfDislikes</a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-primary" asp-action="AddNewComment" asp-route-pictureId="@Model.Id" style="margin:10px">Add Comment</a>
        </div>
        @if (Model.IsFollowing)
        {
            <div class="col-sm-1">
                <a class="btn btn-primary" asp-action="RemoveFromFavorites" asp-route-pictureId="@Model.Id" style="margin:10px; background-color:red">Remove From Favorites</a>
            </div>
        }
        else
        {
            <div class="col-sm-2">
                <a class="btn btn-primary" asp-action="AddToFavorites" asp-route-pictureId="@Model.Id" style="margin:10px">Add To Favorites</a>
            </div>
        }
        @if (Model.IsUsersPicture)
        {
            <div class="col-sm-2">
                <a class="btn btn-primary" asp-action="ChangePictureDescription" asp-route-pictureId="@Model.Id" asp-route-description="@Model.Description" style="margin:10px;">Change Description</a>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-primary" asp-action="DeletePicture" asp-route-pictureId="@Model.Id" style="margin:10px; background-color:red;">Delete Picture</a>
            </div>
        }
    </div>
    @if (Model.CommentsVM.Count > 0)
    {
        <h1>Comments:</h1>
    }
    @foreach (var item in Model.CommentsVM)
    {
        @Html.Partial("CommentPartial", item)
    }
</div>
